In [8]:
import pandas as pd
import numpy as np
import yfinance as yf
ticker="aapl"

In [9]:
df=yf.download(ticker,period="10y",actions=True)

[*********************100%***********************]  1 of 1 completed

In [10]:
df.head()

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2012-09-04,23.777143,24.112143,23.732143,24.106071,20.670900,367892000,0.0,0.0
2012-09-05,24.127501,24.155357,23.914286,23.936787,20.525742,336375200,0.0,0.0
2012-09-06,24.041786,24.224644,23.957144,24.152500,20.710712,391196400,0.0,0.0
2012-09-07,24.216070,24.374287,24.134644,24.301430,20.838423,329666400,0.0,0.0
2012-09-10,24.301786,24.403214,23.646429,23.669287,20.296364,487998000,0.0,0.0

In [17]:
df1=yf.Ticker("aapl")
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2516 entries, 2012-09-04 to 2022-09-01
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          2516 non-null   float64
 1   High          2516 non-null   float64
 2   Low           2516 non-null   float64
 3   Close         2516 non-null   float64
 4   Adj Close     2516 non-null   float64
 5   Volume        2516 non-null   int64
 6   Dividends     2516 non-null   float64
 7   Stock Splits  2516 non-null   float64
dtypes: float64(7), int64(1)
memory usage: 176.9 KB

In [18]:
df[df.Dividends>0]

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2012-11-07,20.494286,20.519285,19.848213,19.928572,17.166759,793648800,0.094643,0.0
2013-02-07,16.544643,16.785713,16.218571,16.722143,14.488647,704580800,0.094643,0.0
2013-05-09,16.421785,16.535713,16.270714,16.313213,14.227892,398487600,0.108929,0.0
2013-08-08,16.566429,16.575001,16.355356,16.464643,14.454777,255777200,0.108929,0.0
2013-11-06,18.719643,18.745001,18.507143,18.604286,16.428595,223375600,0.108929,0.0
2014-02-06,18.216429,18.339287,18.136070,18.303928,16.260111,257765200,0.108929,0.0
2014-05-08,21.008928,21.228930,20.942858,20.999643,18.759022,230297200,0.117500,0.0
2014-08-07,23.732500,23.987499,23.525000,23.620001,21.204741,186844000,0.117500,0.0
2014-11-06,27.150000,27.197500,26.950001,27.174999,24.502010,139874000,0.117500,0.0
2015-02-05,30.004999,30.057501,29.812500,29.985001,27.142309,168984800,0.117500,0.0
2015-05-07,31.192499,31.520000,31.004999,31.315001,28.464624,175763600,0.130000,0.0
2015-08-06,28.992500,29.125000,28.530001,28.782499,26.281065,211612000,0.130000,0.0
2015-11-05,30.462500,30.672501,30.045000,30.230000,27.720919,158210800,0.130000,0.0
2016-02-04,23.965000,24.332500,23.797501,24.150000,22.265724,185886800,0.130000,0.0
2016-05-05,23.500000,23.517500,23.170000,23.309999,21.622114,143562000,0.142500,0.0
2016-08-04,26.395000,26.500000,26.320000,26.467501,24.683973,109634800,0.142500,0.0
2016-11-03,27.745001,27.865000,27.387501,27.457500,25.738737,107730400,0.142500,0.0
2017-02-09,32.912498,33.112499,32.779999,33.105000,31.167253,113399600,0.142500,0.0
2017-05-11,38.112499,38.517502,38.077499,38.487499,36.384274,109020400,0.157500,0.0
2017-08-10,39.974998,40.000000,38.657501,38.830002,36.852207,163217200,0.157500,0.0
2017-11-10,43.777500,43.845001,43.567501,43.667500,41.592289,100582000,0.157500,0.0
2018-02-09,39.267502,39.472500,37.560001,39.102501,37.396088,282690400,0.157500,0.0
2018-05-11,47.372501,47.514999,46.862499,47.147499,45.263882,104848800,0.182500,0.0
2018-08-10,51.840000,52.275002,51.667500,51.882500,49.984402,98444800,0.182500,0.0
2018-11-08,52.494999,52.529999,51.687500,52.122501,50.390827,101450400,0.182500,0.0
2019-02-08,42.247501,42.665001,42.105000,42.602501,41.363758,95280000,0.182500,0.0
2019-05-10,49.355000,49.712502,48.192501,49.294998,48.045971,164834800,0.192500,0.0
2019-08-09,50.325001,50.689999,49.822498,50.247501,49.160412,98478800,0.192500,0.0
2019-11-07,64.684998,65.087502,64.527496,64.857498,63.644844,94940400,0.192500,0.0
2020-02-07,80.592499,80.849998,79.500000,80.007500,78.697914,117684000,0.192500,0.0
2020-05-08,76.410004,77.587502,76.072502,77.532501,76.469856,133838400,0.205000,0.0
2020-08-07,113.205002,113.675003,110.292503,111.112503,109.787209,198045600,0.205000,0.0
2020-11-06,118.320000,119.199997,116.129997,118.690002,117.476662,114457900,0.205000,0.0
2021-02-05,137.350006,137.419998,135.860001,136.759995,135.564209,75693800,0.205000,0.0
2021-05-07,130.850006,131.259995,129.479996,130.210007,129.290726,78973300,0.220000,0.0
2021-08-06,146.350006,147.110001,145.630005,146.139999,145.325653,54126800,0.220000,0.0
2021-11-05,151.889999,152.199997,150.059998,151.279999,150.656570,65463900,0.220000,0.0
2022-02-04,171.679993,174.100006,170.679993,172.389999,171.898315,82465400,0.220000,0.0
2022-05-06,156.009995,159.440002,154.179993,157.279999,157.061829,116124600,0.230000,0.0
2022-08-05,163.210007,165.850006,163.000000,165.350006,165.350006,56646600,0.230000,0.0